<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Dog Classifier</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/form_upload.css" rel="stylesheet">

    <style>
    * {
      box-sizing: border-box;
    }
    .img-container {
      float: left;
      width: 50.00%;
      padding: 5px;
    }
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>

  </head>

  <body class="text-center">
    <form class="form-upload" method=post enctype=multipart/form-data>
      <h1 class="h3 mb-3 font-weight-normal">Please upload an image</h1>
      <input type="file" name="image" class="form-control"  required autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Predict</button>
      <br>

      {% if human_dog_name %}
      <h3> Hi Human! </h3>
      <div class="clearfix">
        <div class="img-container">
        <img class="mb-4" src="/static/{{uploaded_img}}" alt="Photo uploaded" style="width:100%" width="215" height ="215">
        </div>
        <div class="img-container">
        <img src="{{ url_for('static', filename=img) }}" class="rounded  mx-auto d-block" style="width:100%"width="215" height ="215">
        </div>
      </div>
      <h4 class="h4 mb-3 font-weight-normal">You look like a: {{human_dog_name}}</h4>

      {% endif %}

      {% if dog_breeds %}
      <h3> Hi Puppy! </h3>
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>

      <div class="clearfix">
        <div class="img-container">
        <img class="mb-4" src="/static/{{uploaded_img}}" alt="Photo uploaded" style="width:100%" width="215" height ="215">
        </div>
        <div class="img-container">
        <img src="{{ url_for('static', filename=img) }}" class="rounded  mx-auto d-block" style="width:100%"width="215" height ="215">
        </div>
      </div>

      <body>
      <div class="container">
        <h2>Predictions</h2>
        <p>These are the top 5 predictions for the dog:</p>
        <table class="table">
          <thead>
            <tr>
              <th>Dog Breed</th>
              <th>Probability</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{dog_breeds[0]}}</td>
              <td>{{prediction[0]}}</td>
            </tr>
            <tr>
              <td>{{dog_breeds[1]}}</td>
              <td>{{prediction[1]}}</td>
            </tr>
            <tr>
              <td>{{dog_breeds[2]}}</td>
              <td>{{prediction[2]}}</td>
            </tr>
            <tr>
              <td>{{dog_breeds[3]}}</td>
              <td>{{prediction[3]}}</td>
            </tr>
            <tr>
              <td>{{dog_breeds[4]}}</td>
              <td>{{prediction[4]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
            {% endif %}

            {% if neither %}
            <h3> Hi! Unfortunately, you were not classified as a dog or human. </h3>
            <div class="clearfix">
              <div class="img-container">
              <img class="mb-4" src="/static/{{uploaded_img}}" alt="Photo uploaded" style="width:100%" width="215" height ="215">
            </div>
          </div>
            {% endif %}

          </form>
        </body>
      </html>
